<h1>
	THis is the secret page
</h1>
<p>
	you found me!
</p>
<img src="https://www.futbolred.com/files/article_main/uploads/2019/08/22/5d5f29e9e7f50.jpeg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>